@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

:root {
  --background-color: dimgray;
  --blue-color: #44749D;
  --class-color: #6A9955;
  --method-color: #CECE9F;
  --variable-color: #9CDBFD;
  --number-color: #B4CDA7;
  --string-color: #CE9178;
  --content-color: #1E1E1E;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 3px;
}

a {
  text-decoration: none !important;
}

.Template {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
  max-height: 90vh;
}

.Sidebar {
  width: 100%;
  height: 100%;
  background-color: #1C1E2B;
  display: grid;
  grid-template-rows: 1fr max-content 3fr;
  justify-content: center;
}

.Image {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.ProfileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.FullName {
  color: #7B9DB3;
}

.Caret {
  writing-mode: vertical-lr
}

.Menu {
  padding: 2rem 1rem 1rem 1rem;
  display: grid;
  grid-auto-rows: max-content;
  gap: 0.5rem;
}

.MenuItem {
  padding: 0.5rem;
  color: #7B9DB3;
  border-radius: 5px;
}

.SelectedMenuItem {
  padding: 0.5rem;
  background-color: #04395E;
  color: white;
}

.MenuItem:hover,
.SelectedMenuItem:hover {
  cursor: pointer;
}

.HeaderImage {
  background-color: #252526;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.CommandPrompt {
  display: grid;
  place-content: center;
}

.SocialMedia {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2rem;
  align-items: center;
}

.SocialOption {
  color: white;
  font-family: monospace;
  font-size: 18px;
  list-style: none;
}

.SocialOption>a {
  text-decoration: none;
  color: white
}

.SocialImg {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
}

.TypedOutHello {
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  color: white;
  animation: typing 2s forwards;
}

.TypedOutWelcome {
  /* padding-left: 30rem; */
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  color: white;
  animation: typing 3s forwards;
  animation-delay: 2s;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.Content {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--content-color);
  color: white;
  font-size: 20px;
  line-height: 30px;
  overflow: auto;
}


.EducationItem,
.ExperienceItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.BlueColor {
  color: var(--blue-color)
}

.MethodColor {
  color: var(--method-color)
}

.VariableColor {
  color: var(--variable-color)
}

.StringColor {
  color: var(--string-color)
}

.NumberColor {
  color: var(--number-color)
}

.Hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: var(--background-color);
  }

  .Template {
    height: 80%;
    width: 80%;
    gap: 3px;
  }

  .Sidebar {
    border-radius: 8px;
    overflow: hidden;
  }

  .HeaderImage {
    border-radius: 8px;
    overflow: hidden;
  }

  .Content {
    border-radius: 8px;
    overflow: auto;
  }
}